os: linux
dist: bionic
language: c++

before_install:
        - export DEBIAN_FRONTEND=noninteractive

install:
        - sudo apt-get update && sudo apt-get install -y --no-install-recommends git ninja-build gperf ccache dfu-util device-tree-compiler wget python python-pip python3-pip python3-setuptools python3-tk python3-wheel xz-utils file make gcc gcc-multilib locales tar curl unzip gnupg ca-certificates zip
        - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
        - echo "deb https://download.mono-project.com/repo/ubuntu stable-bionic main" | sudo tee /etc/apt/sources.list.d/mono-official-stable.list
        - sudo apt update
        - sudo locale-gen "en_US.UTF-8"
        - export LANG="en_US.UTF-8"
        - wget https://cmake.org/files/v3.14/cmake-3.14.2-Linux-x86_64.tar.gz
        - tar -xf cmake-3.14.2-Linux-x86_64.tar.gz
        - export PATH=`realpath cmake-3.14.2-Linux-x86_64/bin`:$PATH
        - wget https://antmicro.com/projects/renode/builds/renode-latest.deb
        - sudo apt install ./renode-latest.deb

script:
        - ROOT=`pwd`
        - sudo pip3 install west
        - sudo pip install psutil robotframework netifaces requests
        - wget https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v0.10.3/zephyr-sdk-0.10.3-setup.run
        - chmod +x zephyr-sdk-0.10.3-setup.run
        - ./zephyr-sdk-0.10.3-setup.run -- -d ${ROOT}/zephyr-sdk
        - export ZEPHYR_TOOLCHAIN_VARIANT=zephyr
        - export ZEPHYR_SDK_INSTALL_DIR=${ROOT}/zephyr-sdk
        - export ZEPHYR_BASE=${ROOT}/zephyr
        - west init -m https://github.com/antmicro/zephyr.git --mr i2c-fix
        - git submodule update --init --recursive
        - python3 -m pip install -r zephyr/scripts/requirements.txt
        - pushd tensorflow
        - make -f tensorflow/lite/micro/tools/make/Makefile TARGET=zephyr_vexriscv hello_world_bin -j$(nproc)
        - make -f tensorflow/lite/micro/tools/make/Makefile TARGET=zephyr_vexriscv magic_wand_bin -j$(nproc)
        - cd ${ROOT}
        - renode-test renode/litex-vexriscv-tflite.robot
        - mkdir -p ${ROOT}/release/magic_wand
        - mkdir -p ${ROOT}/release/hello_world
        - cp ${ROOT}/tensorflow/tensorflow/lite/micro/tools/make/gen/zephyr_vexriscv_x86_64/hello_world/CMake/zephyr/zephyr.elf ${ROOT}/release/hello_world
        - cp ${ROOT}/tensorflow/tensorflow/lite/micro/tools/make/gen/zephyr_vexriscv_x86_64/hello_world/CMake/zephyr/zephyr.bin ${ROOT}/release/hello_world
        - cp ${ROOT}/tensorflow/tensorflow/lite/micro/tools/make/gen/zephyr_vexriscv_x86_64/magic_wand/CMake/zephyr/zephyr.elf ${ROOT}/release/magic_wand
        - cp ${ROOT}/tensorflow/tensorflow/lite/micro/tools/make/gen/zephyr_vexriscv_x86_64/magic_wand/CMake/zephyr/zephyr.bin ${ROOT}/release/magic_wand
        - tar -acf ${ROOT}/binaries.tar.gz ${ROOT}/release/*
deploy:
        provider: releases
        api_key:
                secure: o7wYWJwcpPgR+RZhSWzFhh/gtOWchmtGda7P10vs2MxTyPdKHgYV+xMv4g2KVkYDwE5r9rvaD47ccxnJZkG83UIevEQN5YbU1clxhEtjMKaLDn66WP0+MGctnlWsuXj05MA4w9a3/RD5nQydKVBo0BKqwaYIXtHP9eIsDXrd6tL95HUE5C4Vf5rAA4XGM0UnibJ+Va4c+muDiFZq4fvqjR3AKkY8Ul2N5I46vc4Gcw6kDEzkLIZikifU/w1VsWVeUkx3hA1Co60OQE++SFic3Z7xAdICFZ06562X+vTWN/EAhiD6lU/CMEXZ5petE2otCqRxrF2wFMNAuHCm6ayEkg7zHegEDl9fuuA1g+shxZ7hwh0/dyqz+mqV65BtAyZ/K/cm6u+VGH8tYdS4A9/s71bzP2W20a96mFL1d275xpPamWYzXuCUskSBLTPR++xktFQHMdD7ypZznUNVQ5G5Yi35r4lIM4QiDO8K8f99tKWsNa/03bIJD7w3WhP6oTtsF4ELaxahBUDhxn0WhoeyKjhup7TpjaIS6A/64PAbBPSDsQ0Tu9l905xAt1YWmIp68l4MyWI4EtL307nbMnvYy5yXXIYpXdQ7wWvYhDBuO/3gfA92hb2f7NnEhAJ6vkxq+U+8siGs35KbEBAqZ0tdrB3jwNAA97uTEjWSBD4xqKc=
        file: binaries.tar.gz
        on:
                repo: antmicro/litex-vexriscv-tensorflow-lite-demo
                branch: travis-releases
